.custom {
  padding-top: 61px;
}

.panel-body {
  margin-top: 55px;
  margin-left: 0px;
  padding: 10px;
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .panel-body {
    margin-top: 55px;
    margin-left: 250px;
    padding: 10px;
  }
}

.panel-body-1 {
  margin-top: 55px;
  margin-left: 0px;
  padding: 10px;
  transition: all 0.5s;
}
