@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0px;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/icons/icon192.png') no-repeat center center;
  background-size: contain;
}

.custom {
  position: fixed;
  z-index: 9000;
  width: 100%;
  top: 0px;
  background-color: #f26f21 !important;
  height: 45px;
  padding-right: 10px;
}

.custom-dropdown-toggle {
  width: 100%;
  background-color: #f26f21 !important;
}

.hide {
  visibility: hidden;
  transition: 0.5s;
  color: #a5a8aa;
}

@media (min-width: 768px) {
  .hide {
    visibility: visible;
    transition: 0.5s;
    color: #a5a8aa;
  }
}

.icon-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.showbt {
  width: 250px;
  background-color: white;
  height: 100%;
}

.hidebt {
  padding-left: 5px;
  width: 55px;
  background-color: white;
  height: 100%;
}
