@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0px;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}

.custom {
  position: fixed;
  z-index: 9000;
  width: 100%;
  top: 0px;
  background-color: #2d2727 !important;
  height: 55px;
  padding-right: 10px;
}

.custom-dropdown-toggle {
  width: 100%;
  background-color: #2d2727 !important;
}

.hide {
  visibility: hidden;
  transition: 2s;
  color: #a5a8aa;
}

@media (min-width: 768px) {
  .hide {
    visibility: visible;
    transition: 2s;
    color: #a5a8aa;
  }
}
