<div class="row">
    <div class="col div-col">
        <button (click)="navigate('user-management')" class="btn btn-danger button-menu-custom">
            Quản lý tài khoản
        </button>
    </div>
</div>
<div class="row">
    <div class="col div-col">
        <button (click)="navigate('department')" class="btn btn-primary button-menu-custom">
            Phòng ban
        </button>
    </div>
    <div class="col div-col">
        <button (click)="navigate('department')" class="btn btn-primary button-menu-custom">
            Nhân viên
        </button>
    </div>
</div>
<div class="row">
    <div class="col div-col">
        <button (click)="navigate('equipment-type')" class="btn btn-primary button-menu-custom">
            Loại thiết bị
        </button>
    </div>
    <div class="col div-col">
        <button (click)="navigate('equipment')" class="btn btn-primary button-menu-custom">
            Thiết bị
        </button>
    </div>
</div>
<div class="row">
    <div class="col div-col">
        <button (click)="navigate('medical-supplies-type')" class="btn btn-primary button-menu-custom">
            Loại vật tư
        </button>
    </div>
    <div class="col div-col">
        <button (click)="navigate('medical-supplies')" class="btn btn-primary button-menu-custom">
            Vật tư
        </button>
    </div>
</div>
<div class="row">
    <div class="col div-col">
        <button class="btn btn-success button-menu-custom">
            Báo cáo
        </button>
    </div>
    <div class="col div-col">

    </div>
</div>
